* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#StocksProfile {
    height: 80%;
    background: linear-gradient(#333333, 90%, white);
    color:white;
    font-size: 60px;
}

.gradient{
    linear-gradient(#333333, 90%, white);
}


body {
    height: 2000px;
}



a {
    text-decoration: none;
}


<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
